.container {
   background: #fff;
   margin: 0 auto;
   width: 60rem;
   height: 8rem;
   top: -4rem;
   position: relative;
   border-radius: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

   @media (max-width: 600px) {
      width: 100vw;
      height: 22rem;
      top: 0;
   }

   @media (min-width: 600px) and (max-width: 768px) {
      width: 30rem;
      height: 12rem;
      top: -6rem;
   }

   @media (min-width: 768px) and (max-width: 1200px) {
      width: 40rem;
      height: 12rem;
      top: -6rem;
   }
}

.filterModule {
   padding: 1rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   row-gap: 1rem;
   column-gap: 1rem;

   @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
   }

   @media (min-width: 600px) and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
}

.button {
   border-radius: 0.375rem;
   background-color: #ffb319;
   box-shadow: rgba(0, 0, 0, 0.35) 0 15px 10px -15px;
   font-family: 'Poppins', sans-serif;
   transition: background-color 0.2s;
   display: flex;
   justify-content: center;
   align-items: center;

   &:hover {
      background-color: #fec247;
   }
}

.loading {
   height: 1.5rem;
}
