.nav {
   background-color: #ffb319;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   height: 4.75rem;
   color: #212121;
   font-family: 'Poppins', sans-serif;

   &__header {
      font-size: 2.5rem;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 2rem;

      @media (max-width: 768px) {
         display: block;
         margin-left: 1.125rem;
      }
   }

   .hamburgerMenu {
      cursor: pointer;
      display: none;
      margin-right: 1.625rem;

      svg {
         width: 2.25rem;
      }
      @media (max-width: 768px) {
         display: block;
      }
   }

   &__menu {
      display: flex;
      position: relative;
      z-index: 4;
      padding: 2rem 0;

      @media (max-width: 768px) {
         position: absolute;
         background-color: white;
         top: 0;
         left: 100%;
         display: flex;
         flex-direction: column;
         width: 100%;
         box-shadow: rgba(0, 0, 0, 0.35) 0 15px 10px -15px;
      }

      @media (min-width: 768px) {
         justify-content: space-between;
         margin-right: 3rem;
         width: 25rem;
      }

      @media (min-width: 1200px) {
         font-size: 1.15rem;
         width: 35rem;
      }

      &__element {
         cursor: pointer;

         // Limit width to prevent overlying
         @media (min-width: 768px) and (max-width: 1200px) {
            max-width: 9.75rem;
         }

         @media (max-width: 768px) {
            font-size: 1.25rem;
            width: 15rem;
            margin: 1rem auto;
            text-align: center;
         }

         @media (min-width: 768px) {
            // Underline on hover
            text-decoration: none;
            position: relative;

            &:after {
               position: absolute;
               content: '';
               height: 2px;
               bottom: -2px;
               margin: 0 auto;
               left: 0;
               right: 0;
               width: 0;
               background: #111;
               transition: 0.25s;
            }
            &:hover:after {
               width: 100%;
            }
         }
      }

      &__close {
         display: none;
         position: absolute;
         top: 1.375rem;
         right: 1.75rem;
         width: 1.875rem;
         opacity: 0.75;

         @media (max-width: 768px) {
            display: block;
         }
      }
   }
}

.message {
   position: absolute;
   top: 20px;
   background-color: #cecccc;
   z-index: 5;
}

.closeIcon {
   position: absolute;
   width: 1rem;
}

.overlay {
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   right: -3rem;
   z-index: 4;
}
